body {
  background-color: white;
  font-family: helvetica;
  color: red;
  line-height: 24px;
}

#socialmedia {
  height: 100px;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  background-color: black;
}

#fb {
  height: 50%;
  margin-left: 10px;
  clear: both;
}

#twitter {
  height: 50%;
  margin-left: 10px;
  clear: both;
}

#insta {
  height: 50%;
  margin-left: 10px;
  clear: both;
}

#toplogo {
  height: 80px;
  margin-left: 10px;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

#navigation {
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: white;
  text-align: center;
}

#navigation a {
  text-decoration: none;
  color: red;
  font-weight: 900;
  margin-left: 5px;
  margin-right: 5px;
}

#navigation ul li {
  display: inline;
}

#navigation ul li:nth-child(2) a {
  text-decoration: underline;
}

#artiestenbox {
  background-color: black;
  height: 1100px;
  width: 100%;
  box-sizing: border-box;
  padding: 20px;
  color: white;
}

#artiestentitel {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-weight: 900;
  font-size: 20px;
  margin-bottom: 20px;
  color: red;
}

#artiestendiv {
  width: 950px;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
}

#infantscreambox, #squareparadisebox, #alwaysleftbox, #dropofcomposurebox {
  background-color: white;
  height: 200px;
  width: 200px;
  float: left;
  box-sizing: border-box;
  border: 5px solid white;
}
#infantscreambox, #squareparadisebox, #alwaysleftbox {
  margin-right: 50px;
}

#infantscreambox img, #squareparadisebox img, #alwaysleftbox img, #dropofcomposurebox img {
  width: 100%;
}

#informatieartiesten, #informatieIS, #informatiePS, #informatieAL, #informatieDC {
  width: 65%;
  background-color: rgba(173, 173, 173, 0.1);
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  clear: both;
  float: none;
  overflow: auto;
  box-sizing: border-box;
  position: relative;
  padding: 20px;
  border: 2px solid white;

}

.displaynone {
  display: none;
}
.display {
  display: block;
}

#footer {
  text-align: center;
  font-size: 10px;
  color: white;
  margin-left: auto;
  margin-right: auto;
  background-color: black;
  padding-bottom: 10px;
}

#infantscreambox:hover, #squareparadisebox:hover, #alwaysleftbox:hover, #dropofcomposurebox:hover {
  box-sizing: border-box;
  border: 5px solid red;
}

#SP2 {
  width: 200px;
  height: 200px;
  margin-bottom: 20px;
}

#informatiePS p {
  margin-top: 20px;
}

#ISPER1, #ISPER2 {
  height: 200px;
  width: 200px;
  margin-right: 20px;
  margin-bottom: 20px;
}

#ISpng, #SPpng, #DOCpng, #ALpng {
  height: 200px;
  width: 200px;
  margin-top: 50px;
  padding: 10px;
}

h2 {
  margin-bottom: 20px;
  font-size: 18px;
  text-decoration: underline;
}
