body {
  background-color: white;
  font-family: helvetica;
  color: red;
}

#socialmedia {
  height: 100px;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  background-color: black;
}

#fb {
  height: 50%;
  margin-left: 10px;
  clear: both;
}

#twitter {
  height: 50%;
  margin-left: 10px;
  clear: both;
}

#insta {
  height: 50%;
  margin-left: 10px;
  clear: both;
}

#toplogo {
  height: 80px;
  margin-left: 10px;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

#navigation {
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: white;
  text-align: center;
}

#navigation a {
  text-decoration: none;
  color: red;
  font-weight: 900;
  margin-left: 5px;
  margin-right: 5px;
  padding-top: 20px;
}

#navigation ul li {
  display: inline;
}

#navigation ul li:nth-child(3) a {
  text-decoration: underline;
}

#footer {
  text-align: center;
  font-size: 10px;
  color: white;
  margin-left: auto;
  margin-right: auto;
  background-color: black;
  padding-bottom: 10px;
}

#storebg {
  background-color: black;
  height: 800px;
  width: 100%;
}

#itembox {
  width: 60%;
  min-height: 500px;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  top: 50px;
  position: relative;
  color: white;
}

#itemlist {
  width: 20%;
  height: 100%;
  float: left;
  box-sizing: border-box;
  color: white;
  text-align: center;
  line-height: 50px;
  box-sizing: border-box;
  border: 2px solid white;
}

#itemlist h3 {
  margin-bottom: 30px;
  margin-top: 0;
  text-decoration: underline;
}

#infostore, #albums, #shirts, #accessoires, #rugzakken {
  width: 70%;
  height: 100%;
  float: right;
  box-sizing: border-box;
  padding-top: 20px;
}

#itemlist ul li:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}

#infostore img {
  height: 100px;
  margin-bottom: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

#infostore p {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.displaynone {
  display: none;
}

.display {
}

#albums img {
  height: 200px;
  width: 200px;
  float: left;
  margin-right: 10px;
}

#shirts img {
  height: 200px;
  float: left;
  margin-right: 10px;
}

#rugzakken img {
  width: 200px;
  float: left;
  margin-right: 10px;
}

#albums h3, #shirts h3, #accessoires h3, #rugzakken h3 {
  margin-bottom: 20px;
  text-decoration: underline;
}

#ISalbumsbox, #PSalbumsbox, #ALalbumsbox, #DOCalbumsbox {
  width: 100%;
  margin-top: 50px;
  box-sizing: border-box;
  overflow: auto;
}


#ISalbumsbox img, #PSalbumsbox img, #ALalbumsbox img, #DOCalbumsbox img {
  width: 40%;
  height: auto;
  margin-right: 10px;
  margin-top: 5px;
}

#bandnames li {
  display: inline;
  margin-right: 10px;
  padding: 10px;
}

#bandnames li:hover {
  cursor: pointer;
  color: black;
  background-color: white;
}
