body {
  background-color: #FFCCCC;
  font-family: sans-serif; helvetica;
}
#container {
  width: 1030px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  box-sizing: border-box;
  padding: 50px;
  background-color: white;
  overflow: auto;
}

#gameone, #gametwo, #gamethree, #gamefour, #gamefive, #gamesix, #gameseven, #gameeight, #gamenine {
  height: 310px;
  width: 310px;
  box-sizing: border-box;
  border: 5px solid black;
  float: left;
}

.gameonebox {
  height: 100px;
  width: 100px;
  box-sizing: border-box;
  border: 1px solid black;
  float: left;
  transition-property: all;
  transition-duration: 2s;

}

.gameonebox:hover {
  cursor: pointer;
}

#box {
  background-color: #CCCCFF;
}

#box:hover {
  cursor: pointer;
}

#gameoneboxanimation {
  animation: FirstGame 1s;
  -webkit-animation: FirstGame 1.0s;
  animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
  background-color: #CCFFCC;
}



@keyframes FirstGame {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(2);
  }
  100% {
    transform: scale(1);
  }
}

#gametwobox {
  height: 100px;
  width: 100px;
  background-color: #f9f3a9;
  animation: Bouncing 5s;
  -webkit-animation: Bouncing 5.0s;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  box-sizing: border-box;
}

#gametwobox:hover {
  animation-play-state: paused;
  cursor: pointer;
}

@keyframes Bouncing {
  0% {
    transform: translate(0px, 0px);
  }
  25% {
    transform: translate(200%, 0px);
  }
  50% {
    transform: translate(200%, 200%);
  }
  75% {
    transform: translate(0px, 200%);
  }
  100% {
    transform: translate(0px, 0px;)
  }
}

#gamethreebox1 {
  float: left;
  background-color: red;
  width: 100%;
  height: 20%;
  opacity: 0;
  animation-name: Opacity;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-delay: 0s;
  animation-direction: alternate;
}

#gamethreebox2 {
  float: left;
  background-color: orange;
  width: 100%;
  height: 20%;
  opacity: 0;
  animation-name: Opacity;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-delay: 1s;
  animation-direction: alternate;
}

#gamethreebox3 {
  float: left;
  background-color: yellow;
  width: 100%;
  height: 20%;
  opacity: 0;
  animation-name: Opacity;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-delay: 2s;
  animation-direction: alternate;
}

#gamethreebox4 {
  float: left;
  background-color: green;
  width: 100%;
  height: 20%;
  opacity: 0;
  animation-name: Opacity;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-delay: 3s;
  animation-direction: alternate;
}

#gamethreebox5 {
  float: left;
  background-color: blue;
  width: 100%;
  height: 20%;
  opacity: 0;
  animation-name: Opacity;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-delay: 4s;
  animation-direction: alternate;
}

@keyframes Opacity {
  100% {
    opacity: 1;
  }
}

#gamefivebox {
  transition: all 1s;
  width: 40px;
  height: 40px;
  margin-left: auto;
  margin-right: auto;
  background-color: #d84747;
  position: relative;
  top: 130px;
}

#gamefivebox:hover {
  transform: rotate(360deg) scale(7);
}

#gamefourbox {
  height: 100px;
  width: 100px;
  position: relative;
  top: 200px;
  margin-left: auto;
  margin-right: auto;
  background-color: #bcfca1;
}

#gamefourbox:hover {
  animation-name: jumpUp;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-delay: 0s;
  animation-direction: alternate;
}

@keyframes jumpUp {
  50% {
    transform: translate(0px, -200px) rotate(360deg);
  }
  100% {
    transform: translate(0px, 0px) rotate(720deg);
  }
}

#gamenine {
  transition: all 1s;
}

#gamenine:hover {
  animation-name: movebox;
  animation-duration: 4s;
  animation-iteration-count: 1;
  animation-delay: 0s;
  animation-direction: forward;
  background-color: #FFCCCC;
}

@keyframes movebox {
  50% {
    transform: translate(-620px, 0px);
  }
  100% {
    transform:translate(0px, 0px);
  }
}

#gamesix:hover {
  background-color: black;
}

#gamesixbox, #gamesixbox1, #gamesixbox2, #gamesixbox3, #gamesixbox4, #gamesixbox5, #gamesixbox6, #gamesixbox7, #gamesixbox8, #gamesixbox9, #gamesixbox10 {
  width: 85%;
  height: 85%;
  box-sizing: border-box;
  border: 1px solid black;
  transition: all 1s;
}

#gamesixbox:hover, #gamesixbox1:hover, #gamesixbox2:hover, #gamesixbox3:hover, #gamesixbox4:hover, #gamesixbox5:hover, #gamesixbox6:hover, #gamesixbox7:hover, #gamesixbox8:hover, #gamesixbox9:hover, #gamesixbox10:hover {
  margin-left: auto;
  margin-right: auto;
  background-color: black;
  border: 1px solid white;
}

#gamesevenbox1, #gamesevenbox2, #gamesevenbox3, #gamesevenbox4, #gamesevenbox5, #gamesevenbox6, #gamesevenbox7, #gamesevenbox8, #gamesevenbox9, #gamesevenbox10 {
  width: 85%;
  height: 85%;
  box-sizing: border-box;
  border: 1px solid black;
  margin-left: auto;
  margin-right: auto;
  margin-top: 7.5%;
}

#gamesevenbox1:hover, #gamesevenbox2:hover, #gamesevenbox3:hover, #gamesevenbox4:hover, #gamesevenbox5:hover, #gamesevenbox6:hover, #gamesevenbox7:hover, #gamesevenbox8:hover, #gamesevenbox9:hover, #gamesevenbox10:hover {
  animation-name: colourCeption;
  animation-duration: 5s;
  animation-iteration-count: 1;
  animation-delay: 0s;
  animation-direction: alternate;
}

@keyframes colourCeption {
  16% {
    background-color: red;
  }
  32% {
    background-color: orange;
  }
  48% {
    background-color: yellow;
  }
  64% {
    background-color: green;
  }
  80% {
    background-color: blue;
  }
  100% {
    background-color: purple;
  }
}

#gameeightbox1 {
  width: 200px;
  height: 200px;
  box-sizing: border-box;
  background-color: pink;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 55px;
  transition: all 3s;
}

#gameeightbox2, #gameeightbox3 {
  width: 50px;
  height: 50px;
  background-color: lavender;
  float: left;
  margin-left: 33px;
  position: relative;
  top: 75px;
  transition: all 3s;
}

#gameeightbox1:hover {
  transform: rotate(360deg);
}

#gameeightbox2:hover, #gameeightbox3:hover {
  transform: rotate(360deg);
}
